
html {
}

body {
  height: 100%;
  max-width: 100%;
  margin: 0;
}


@media all and (max-width: 767px) {
  .p-sm-0 {
    display: none;
  }
}

@media all and (max-width: 991px) {
  .p-md-0 {
    display: none;
  }
}

@media all and (max-width: 1199px) {
  .p-lg-0 {
    display: none;
  }
}