#layout-main {
  max-width: 100vw;

  .left-column {
    
  }

  .right-column {
    transition-duration: .3s;
  }

}

#layout-main.drawer-closed {
  .left-column {

  }

  .right-column {
    .page-container {
      margin: 87px 25px 35px 25px;
    }
  }
}

#layout-main.drawer-opened {
  .left-column {

  }

  .right-column {
    margin-left: 280px;

  }
}