#layout {
  max-width: 100vw;

  .left-column {
    
  }

  .right-column {
    transition-duration: .3s;

    .page-container {
      margin: 0 12px;
    }
  }

}

.drawer-opened {
  .left-column {

  }

  .right-column {
    margin-left: 280px;

  }
}